@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.page-container{
  position: relative;
  min-height: 100vh;
  padding-bottom: 250px;
}

.App-link {
  color: #61dafb;
}


.pleft{
  margin-left: 10px;
}

.navcss{
  background-color: #DCF2F1;
}

.neo{
  display: flex;
  
}

.intro{
  padding: 150px;
}

#rio {
  padding-left: 10px;
}

.maincontent{
  margin: auto;
  width: 100%;
  padding: 30px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 16px;
}

.maincontent2{
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.maincontent > p {
  font-size: 16px;  
}

.maincontent > * {
  margin: 50px;
}


.title{
  text-align: center;
  margin: 10px;
}

.maintitle{
  text-align: center;
  margin: 10px;
  font-size: 50px;
}

body {
  height: 100vh;
}

main {
  padding-top: 55px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  padding: 10px;
  object-fit: fill;
}

.rioimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 600px;
  padding: 10px;
}

.pimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 300px;
  padding: 10px;
}

.skills {
  padding-top: 50px;
  margin: auto;
  text-align: center;
  width: 100%;
  font-family: 'REM', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
}

.otherskills {
  padding-top: 50px;
  margin: auto;
  text-align: center;
  width: 100%;
  font-family: 'REM', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: White;
}

.skillbox {
  width: 300px;
  max-width: 300px;
  text-align: center;
  margin: 30px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  align-items: center;
}

.pbox {
  width: 300px;
  max-width: 300px;
  text-align: center;
  margin-bottom: 30px;
}

.skillbox > p {
  font-size: 16px;
}

.navlink {
  margin-right: 10px;
}

.footer {
  display: flex;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 5px;
  font-family: 'REM', sans-serif;
  font-family: 'Roboto', sans-serif;  
}

.footers {
  height: 250px;
  position: absolute;
  margin-top: 50px;
  padding-bottom: 16px;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}

.footerlinks{
  padding: 25px;
}

li {
  list-style-type: none;
  text-align: left;
}

.footertitle{
  font-size: 24px;
}

.footertitle{
  font-size: 24px;
}

.endfooter {
  position: relative;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.backlink {
  text-align: center;
}

.smallh1{
  text-align: center;
  height: auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slide{
  width: 50%;
  object-fit: contain;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
